<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-8">
                <h2>Download <b>File</b></h2>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>Extension</th>               
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="downloads.length > 0">
            <tr *ngFor="let item of downloads">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.extension }}</td>
                <td>
                    <a (click)="onClickDownload(item)" class="downloadfile" title="Download" data-toggle="tooltip">
                        <span class="material-icons"> file_download </span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>